<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button >
    </ion-buttons>
    <ion-title>Contactanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-subtitle>Contacto</ion-card-subtitle>
      <ion-card-title>Marvin Cáceres</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-avatar>
        <img src="assets/img/avatar1.png">
      </ion-avatar>
      <br>
      <ion-button color="success">
        <ion-icon name="logo-whatsapp"></ion-icon> Whatsapp: 9517-6978
      </ion-button>
      <br>
      <ion-button color="primary">
        <ion-icon name="logo-facebook"></ion-icon> Facebook: Marvin Cáceres
      </ion-button>
    </ion-card-content>
   </ion-card>

    <ion-card color="medium">
    <ion-card-header>
      <ion-card-subtitle>Contacto</ion-card-subtitle>
      <ion-card-title>Damaris Martínez</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-avatar >
        <img src="assets/img/avatar2.png">
      </ion-avatar>
      <br>
      <ion-button color="success">
        <ion-icon name="logo-whatsapp"></ion-icon> Whatsapp: 3250-4080
      </ion-button>
      <br>
      <ion-button color="primary">
        <ion-icon name="logo-facebook"></ion-icon> Facebook: Damaris Martínez
      </ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card color="medium">
    <ion-card-header>
      <ion-card-subtitle>Contacto</ion-card-subtitle>
      <ion-card-title>David Alvarado</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-avatar >
        <img src="assets/img/avatar3.png">
      </ion-avatar>
      <br>
      <ion-button color="success">
        <ion-icon name="logo-whatsapp"></ion-icon> Whatsapp: 3250-4080
      </ion-button>
      <br>
      <ion-button color="primary">
        <ion-icon name="logo-facebook"></ion-icon> Facebook: David Alvarado
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
