<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button >
    </ion-buttons>
    <ion-title>Music</ion-title>
  </ion-toolbar>
</ion-header>

<br>
<ion-content>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
    .w3-bar-block .w3-bar-item {padding:20px}
    </style>

  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="https://http2.mlstatic.com/D_NQ_NP_726780-MLB31054762520_062019-O.jpg" alt="Popsicle" style="width:100%">
      <h3> Instrumentos</h3>
      <p class="center"> Articulos</p>
    </div>
    <div class="w3-quarter">
      <a href="http://cdlmusica.com/producto.php?pr=12414"><img src="http://cdlmusica.com/images/items/12414_f1.jpg"  ></a>
      <h3>Guitarra Electrica Sombreado 3 Tonos</h3>
      <h4>L. 3,655.00</h4>
    </div>
    <div class="w3-quarter">
      <a href="https://www.audiomusica.com/piano-de-cola-young-chang-y150-color-black-polish/p"><img src="https://audiomusicacl.vtexassets.com/arquivos/ids/174790-800-auto?v=637828688692700000&width=800&height=auto&aspect=true"  ></a>
      <h3>Piano de cola Young Chang Y150 color Black Polish</h3>
      <p>os pianos de cola Young Chang cuentan con todos los materiales y mano de opa de la más alta calidad, incluidas las cajas de resonancia de abeto macizo, así como todos los nuevos diseños de Del Fandrich con la caja de resonancia flotante única y el puente de graves acoplado directamente para una respuesta de graves más completa incluso en los grands más pequeños.</p>
      <h4>US $7.019</h4>
    </div>
    <div class="w3-quarter">
      <a href="https://www.audiomusica.com/kit-bateria-electronica-roland-vad506-soportes/p"><img src="https://audiomusicacl.vtexassets.com/arquivos/ids/167635-800-auto?v=637801428620400000&width=800&height=auto&aspect=true"  ></a>
      <h3>Kit batería electrónica Roland VAD506 + soportes</h3>
      <h4> us $4.742</h4>
    </div>
    <div class="w3-quarter">
      <a href="https://www.audiomusica.com/violin-freeman-classic-34-frv50/p"><img src="https://audiomusicacl.vtexassets.com/arquivos/ids/168701-800-auto?v=637801432363100000&width=800&height=auto&aspect=true"  ></a>
      <h3>Violín Freeman Classic 3/4 FRV50</h3>
      <h4> US$69.743</h4>
    </div>
    <div class="w3-quarter">
      <a href="https://www.paraveniracomprar.com/tienda/sin-categorizar/audifonos-gamer/"><img src="https://audiomusicacl.vtexassets.com/arquivos/ids/170196-800-auto?v=637801437665270000&width=800&height=auto&aspect=true" alt="Pasta and Wine" style="width:50%" ></a>
      <h3>Micrófono dinámico supercardioide SAMSON Q4</h3>
      <p>El micrófono dinámico Q4 brinda un alto nivel de precisión y rendimiento de audio a una variedad de aplicaciones en vivo y de estudio, como microfonía, presentaciones, instrumentos y más. Diseñado para ofrecer precisión y durabilidad, el Q4 ofrece un rendimiento sólido sin importar el entorno.</p>
      <h4> US$27.230</h4>
    </div>
    <div class="w3-quarter">
      <a href="https://www.audiomusica.com/interfaz-de-audio-focusrite-scarlett-4i4-de-3ra-generacion/p"><img src="https://audiomusicacl.vtexassets.com/arquivos/ids/167546-800-auto?v=637801428283930000&width=800&height=auto&aspect=true" alt="Pasta and Wine" style="width:50%" ></a>
      <h3>Interfaz de audio Focusrite Scarlett 4i4 de 3ra generación</h3>
      <p>Scarlett 4i4 de tercera generación, miembro de la familia de las interfaces de audio profesionales para ordenador Focusrite que incorpora preamplificadores analógicos Focusrite de alta calidad.</p>
      <h4> Us$259</h4>
    </div>
   
   
  </div>

</ion-content>

