<ion-header>
<ion-toolbar color="primary">
    <ion-title><ion-icon name="logo-apple"></ion-icon> iMedia</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Principal</ion-card-subtitle>
      <ion-card-title><ion-icon name="logo-apple"></ion-icon> iMedia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img src="assets/img/3.jpg" alt="">
        </ion-slide>
        <ion-slide>
          <img src="assets/img/6.jpg" alt="426">
        </ion-slide>
        <ion-slide>
          <img src="assets/img/5.jpg" alt="426">
        </ion-slide>
      </ion-slides>
      <br>
      Una app en la palma de tu mano... compra aqui tus canciones favoritas, y porque no ver esa pelicula
      desde tu dispositivo y que tal si eres amante de los videosjuegos. Bienvenido.
    </ion-card-content>
  </ion-card>
</ion-content>
